APP_NAME="PP Marketplace Blog"
DEBUG=true
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

JWT_SECRET=

MINIO_ENDPOINT=127.0.0.1:9000
MINIO_BUCKET_NAME=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=

